




<mat-dialog-content class="mat-typography">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Create Ethnic Group</mat-card-title>
      </mat-card-header>
      <form class="xform-form" [formGroup]="ethnicGroupForm" >
        <mat-card-content>
          <mat-form-field class="auth-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>

          <mat-form-field class="auth-full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Location" formControlName="location">
          </mat-form-field>

        </mat-card-content>
      </form>

    </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
